<%- include header %>
      <title>Add Recipe</title>
      <link rel="stylesheet" href="/css/addrecipe.css">
  </head>
  <body>
<%- include menuSubmenu %>
    <form class="form-basic" method="post" action="#">

        <div class="form-title-row">
            <h1>Add recipe</h1>
        </div>

        <div class="form-row">
            <label>
                <span>Title</span>
                <input type="text" name="title">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Link To Image</span>
                <input type="text" name="title">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Category</span>
                <select name="dropdown">
                    <option>Drinks</option>
                    <option>Appetizers</option>
                    <option>Main Dish</option>
                    <option>Dessert </option>
                </select>
            </label>
        </div>

        <div class="form-row" id="ingred">
            <label>
                <span>Ingredients</span>
                <textarea name="textarea"></textarea>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>How to:</span>
                <textarea name="textarea"></textarea>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Checkbox</span>
                <input type="checkbox" name="checkbox" checked>
            </label>
        </div>

        <div class="form-row">
            <label><span>Difficulty level of recipe:</span></label>
            <div class="form-radio-buttons">

                <div>
                    <label>
                        <input type="radio" name="radio">
                        <span>Easy</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input type="radio" name="radio">
                        <span>Intermidiate</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input type="radio" name="radio">
                        <span>Hard</span>
                    </label>
                </div>

            </div>
        </div>

        <div class="form-row">
            <button type="submit">Submit Form</button>
        </div>

    </form>


  </body>
<%- include footer %>
