<%- include header %>
</head>
<%- include menuSubmenu %>
        <div class="jumbotron">
          <h1>Welcome</h1>
          <p>Hello to your Dashboard, <%- user.first_name %>  </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Profile view »</a>
          </p>
      </div>
<%- include footer %>
